<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="../../../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../../../scripts/quizById.js" defer></script>

    <title>Quiz by you</title>
</head>


<body>
    <button onclick="launchQuiz()">Launch Quiz</button>
    <div>
        Quiz Title : <span id="quiz_title"></span>
    </div>
    <br>
    <div>
        <span id="question_statement"></span>
        
    </div>
</body>

</html>