<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../../images/favicon/favicon-96.png">
    <link
      rel="stylesheet"
      href="../../../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../../../scripts/quizById.js" defer></script>

    <title>Quiz Preview</title>
  </head>

  <body class="bg-[#2FB54C]">
    <div class="max-w-screen-xl mx-auto w-auto h-auto flex flex-col">
        <div class="bg-yellow-500 mt-10 m-0 p-5 px-10 rounded-xl text-gray-800 font-semibold text-2xl">
            Quiz Title : <span id="quiz_title"></span>
        </div>
        <br />
        <div>
            <span id="question_statement"></span>
        </div>
        <div class="flex justify-center" id="launch_btn">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mx-4 mt-4" onclick="launchQuiz()">Launch This Quiz</button>
        </div>
        </div>
        <div id="launch_room_number" class="font-semibold text-center text-xl flex justify-center bg-[#2FB54C] mx-0 w-auto  ">
            
        </div>
      
    
  </body>
</html>
