<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../../images/favicon/favicon-96.png">
    <link
      rel="stylesheet"
      href="../../../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../../../scripts/quizToStudent.js" defer></script>
    
    <title>Let's do The Quiz</title>
  </head>

  <body>
    <div>
        Quiz Title : <span id="quiz_title"></span>
    </div>
    <br />
    <div>
      <span id="question_statement"></span>
    </div>
    <div>
      <button id="submitQuizBtn">Submit</button>
    </div>
  </body>
</html>
