<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../../../scripts/quizToStudent.js" defer></script>
    <title>Let's do The Quiz</title>
  </head>

  <body>
    <div>
        Quiz Title : <span id="quiz_title"></span>
    </div>
    <br />
    <div>
      <span id="question_statement"></span>
    </div>
  </body>
</html>
