<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../../images/favicon/favicon-96.png">
    <link
      rel="stylesheet"
      href="../../../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../../../scripts/quizById.js" defer></script>

    <title>Quiz Preview</title>
  </head>

  <body class="box-border bg-[#2FB54C]">
    <div class="max-w-screen-xl mx-auto w-auto h-screen flex flex-col">
        <div class="bg-yellow-500 mt-10 m-0 p-5 px-10 rounded-xl text-gray-800 font-semibold text-2xl">
            Quiz Title : <span id="quiz_title"></span>
        </div>
        <br />
        <div>
            <span id="question_statement"></span>
        </div>
        <div class="flex justify-center">
            <button class="btn m-4 p-4 w-40 h-6" onclick="launchQuiz()">Launch This Quiz</button>
        </div>
      
    </div>
  </body>
</html>
