<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../images/favicon/favicon-96.png"
    />
    <link
      rel="stylesheet"
      href="../../../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../../../scripts/showResults.js" defer></script>

    <title>Quiz Result</title>
  </head>

  <body>
    <div class="m-10 mx-28">
      <div class="text-2xl">Quiz Title : <span id="quiz_title"></span></div>
      <br />
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-28">
        <span id="result_table"></span>
      </div>
      <div class="text-xl  ">
        <button onclick="history.back()" class="bg-yellow-600 p-4 rounded-lg text-yellow-100 font-semibold ml-28 mt-8" >Back ← </button>
      </div>
    </div>
  </body>
</html>
