<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="./styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../scripts/signup.js" defer></script>

    <title>Sign-Up</title>
  </head>

  <body>
    <div id="error-msg"></div>

    <form id="signup_Form">
      <div>
        <input type="radio" name="user" id="teacher" value="teacher" required />
        <label for="teacher">Teacher</label>

        <input type="radio" name="user" id="student" value="student" required />
        <label for="student">Student</label>
      </div>
      <br />

      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <br />

      <div>
        <label for="email">Mail: </label>
        <input type="text" name="email" id="email" required />
      </div>
      <br />

      <div>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password" required />
      </div>
      <br />

      <button onclick="signupHandle()" type="submit">Submit</button>
    </form>
  </body>
</html>
