<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/favicon/favicon-96.png"
    />
    <link
      rel="stylesheet"
      href="../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../scripts/student.js" defer></script>

    <title>Student Profile</title>
  </head>

  <body class="ml-10 h-auto w-auto bg-[#2FB54C]">
    <div class="pt-5 mb-8">
      <div class="text-gray-800 font-semibold text-2xl">
        Name : <span id="s_name"></span>
      </div>

      <div>Mail : <span id="s_mail"></span></div>
    </div>

    <button
      class="ml-96 mt-10 w-1/3 pt-2 pb-2 rounded-md p-1 mt-4 font-medium bg-slate-300 text-gray-800 hover:bg-green-200"
      onclick="attendQuiz()"
      type="submit"
    >
      Attend Quiz<span class="hover:pl-4">→</span>
    </button>
  </body>
</html>
