<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/favicon/favicon-96.png">
    <link
      rel="stylesheet"
      href="../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../scripts/student.js" defer></script>

    <title>Student Profile</title>
</head>

<body>

    <div>
        Student name : <span id="s_name"></span>
    </div>

    <div>
        Student mail : <span id="s_mail"></span>
    </div>

    <div>
        Student password : <span id="s_pass"></span>
    </div>

    <div>
        <button onclick="attendQuiz()">Attend Quiz</button>
    </div>
    
</body>
</html>