<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/favicon/favicon-96.png"
    />
    <link
      rel="stylesheet"
      href="../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../scripts/teacher.js" defer></script>

    <title>Teacher Profile</title>
  </head>

  <body class="h-auto w-auto bg-[#d7d7d7]">
    <div>
      <div class="h-72 overflow-hidden">
        <img src="../images/user-cover.jpg" alt="" />
      </div>
      <div class="h-36 w-36 ml-40 mt-10">
        <img
          src="../images/student-avatar-user-profile-icon-vector.jpg"
          alt=""
          class="rounded-3xl"
        />
      </div>
    </div>

    <div class="mx-44 mt-8">
      <div class="pt-5">
        <div class="text-gray-800 font-semibold text-2xl font-mono">
          Name : <span id="t_name"></span>
        </div>

        <div class="mx-6 text-gray-700 font-mono">
          Mail : <span id="t_mail"></span>
        </div>
      </div>

      <div class="w-full">
        <div class="mx-auto flex justify-center mt-10">
          <button
            class="ml-5 mb-5 p-5 pt-2 pb-2 rounded-md font-medium bg-slate-400 text-gray-800 hover:bg-green-400 hover:scale-105"
            onclick="createQuiz()"
            type="submit"
          >
            Create Quiz<span> →</span>
          </button>

          <button
            class="ml-5 mb-5 p-5 pt-2 pb-2 rounded-md font-medium bg-slate-400 text-gray-800 hover:bg-green-400 hover:scale-105"
            onclick="viewResult()"
            type="submit"
          >
            View Result<span> →</span>
          </button>
        </div>
      </div>
      
      <div class="w-auto h-full ml-6 mr-6 p-8 bg-slate-400 rounded-xl">
        <div class="font-semibold text-2xl pl-8 pt-8">
          Quizzes under you:
        </div>
        <ol class="flex flex-wrap">
          <span id="t_quiz" class="w-full flex flex-wrap ">

          </span>
        </ol>
      </div>
      <br />

      
    </div>
  </body>
</html>
