<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../scripts/teacher.js" defer></script>

    <title>Teacher Profile</title>
</head>
<body>
    <div>
        Teacher name : <span id="t_name"></span>
    </div>

    <div>
        Teacher mail : <span id="t_mail"></span>
    </div>

    <div>
        Teacher password : <span id="t_pass"></span>
    </div>
</body>
</html>