<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="../styles/tailwind-dist/styles.css"
      type="text/css"
    />
    <script src="../scripts/teacher.js" defer></script>

    <title>Teacher Profile</title>
</head>
<body>
    <div>
        Teacher name : <span id="t_name"></span>
    </div>

    <div>
        Teacher mail : <span id="t_mail"></span>
    </div>

    <div>
        Teacher password : <span id="t_pass"></span>
    </div>
    <br>
    <div>
        Quizzes under you:
        <ol>
            <span id="t_quiz"></span>
        </ol>
        
    </div>
    <br>
    <div>
        <button onclick="createQuiz()">Create Quiz</button>
    </div>
    <br>
    <div>
        <button onclick="viewResult()">View Result</button>
    </div>
</body>
</html>